<center>
  <br><br>
<h2>Edit Decision</h2>
<br>
<div class="container"
<p> <strong> Context: </strong> <%=@scene.sceneName %> , <%=@scene.description%></p>
  </div>
</center>

<div class="container">

<%= form_for :decision, :url => {:action => "edit", :id => @scene} do |f| %>
  <p>
    <%= f.label :Decision_description %><br>
    <%= f.text_area(:decisionDescription,
    {:class => 'form-control' }) %>
  </p>
  </div>
  <center>
  <p>
    <%= f.label :Scene_to_go_to %><br>
    <%= f.select :sceneToGoTO, options_for_select(@adventure.scenes.collect{ |u| [u.sceneName, u.id] }) %>
  </p>
  <p>
  <%= f.submit({:class => 'btn btn-primary'}) %>
  </p>

  <% end %>
  </center>
