<h1>Time to Start Adventure: <strong><%= @adventure.name %></strong></h1>


<p> <%= @adventure.description %> </p>
<p><small>ID: <%= @adventure.id %> </small>
<p><small>Creator: <%= @adventure.creator %> </small>

<ul>
  <% @scenes.each do |scene| %>
  <div class="basic">
    <li> <strong><%= scene.id %></strong> : <%= scene.sceneName %> </li> 
  <% end %>
</ul>
