<br>
<center>
<h1>Scenes</h1>
<hr>


<div class="basic">
  <%= link_to "Make a new Scene", new_adventure_scene_path,
  :class => 'btn btn-success' %>

  <%= link_to "Back to Adventure Show Page", adventure_path(@adventure),
    :class => 'btn btn-secondary' %>

</div>


<br><br><br>


<% @scenes.each do |scene| %>
<div class="list-group-item">
  <div class="container">
      <h3><strong> Scene Name: </strong> <%= scene.sceneName %></h3><br>
      <p><strong>Scene Description:</strong> <%= scene.description %></p>
      </div>
      <p>Scene ID: <%= scene.id %></p>

      <%= link_to "See scene", "/adventures/" + scene.adventure_id.to_s + "/scenes/" + scene.id.to_s,
        :class => 'btn btn-primary' %>


      <%= link_to 'Destroy', "/adventures/" + scene.adventure_id.to_s + "/scenes/" + scene.id.to_s,
        method: :delete,
        data: {confirm: 'Are you sure?'},
        :class => 'btn btn-danger' %>
</div>

<hr>



<% end %>
