<br>
<h2>Scenes</h2>
<hr>

<div class="">
  <%= link_to "Make a new Scene", new_adventure_scene_path,
  :class => 'btn btn-success' %>

  <%= link_to "Back to Adventure Show Page", adventure_path(@adventure),
    :class => 'btn btn-secondary' %>

</div>


<br><br>




<% @scenes.each do |scene| %>
<div class="basic">
      <h3>Scene Name: <%= scene.sceneName %></h3><br>
      <p>Scene Description: <%= scene.description %></p>
      <p>Scene ID: <%= scene.id %></p>

      <%= link_to "See scene", "/adventures/" + scene.adventure_id.to_s + "/scenes/" + scene.id.to_s,
        :class => 'btn btn-primary' %>


      <%= link_to 'Destroy', "/adventures/" + scene.adventure_id.to_s + "/scenes/" + scene.id.to_s,
        method: :delete,
        data: {confirm: 'Are you sure?'},
        :class => 'btn btn-danger' %>
</div>

<hr>



<% end %>
