<h1>Scene Show Page</h1>

<hr>
<p><h5>Name of Scene: </h5> <%= @scene.sceneName %> </p>
<p><h5>Description: </h5> <%= @scene.description %> </p>
<p><h5>ID: </h5> <%= @scene.id %> </p>


<%= link_to "Edit", "/adventures/" + @scene.adventure_id.to_s + "/scenes/" + @scene.id.to_s + "/edit",
  :class => 'btn btn-primary' %>


  <%= link_to "Back to Scenes", adventure_scenes_path,
    :class => 'btn btn-primary' %>

<br><br>


<h3>Decisions To Make</h3>
<div class="well">

  <% @scene.decisions.each do |decision| %>
  <hr>
  <ul>
  <li>Description </li> <p><%= decision.decisionDescription %> </p>
      <strong>Scene it links to: <%=decision.sceneToGoTO %></strong>
</ul>


<% end %>
    </div>
<br><br>

<hr>

<%= link_to "Add a Decision", "/adventures/" + @scene.adventure_id.to_s + "/scenes/" + @scene.id.to_s + "/decisions/new",
:class => 'btn btn-primary' %>







<br>
