<center>
<h1>Edit Adventure</h1>
<div class="container"

<%= form_for :adventure, url: adventure_path(@adventure), method: :patch do |f| %>
<% if @adventure.errors.any? %>
  <% @adventure.errors.full_messages.each do |msg| %>
    <div class="aler alert-danger"><%= msg %></div>
    <% end %>
  <% end %>


  <p>
    <object align="left">
    <%= f.label :name %><br>
    </object>
    <%= f.text_field( :name, {:class => 'form-control'}) %>
  </p>

  <p>
    <object align="left">
    <%= f.label :description %><br>
    </object>
    <%= f.text_area( :description, {:class => 'form-control'}) %>
  </p>

  <p>
    <object align="left">
    <%= f.label :creator %><br>
    </object>
    <%= f.text_field( :creator, {:class => 'form-control'}) %>
  </p>


  <p>
  <%= f.submit({:class => 'btn btn-primary'}) %>
  </p>

<% end %>
</div>
</center>
