<div class="maindiv">
  <br><br>
  <center>
  <h1>Explore Adventures</h1>
  <br>
  <%= link_to "Back to Home", home_path,
    :class => 'btn btn-secondary' %>
</div>

<center>
  <br>
<div class="AdventuresDiv">
  <% @adventures.each do |adventure| %>
    <hr>
  <div style="padding: 2vh;" class="container">
        <h3><%= adventure.name %></h3>
        <h6> Creator: <%= adventure.creator %></h6>
        <p> Description: <%= adventure.description %> </p>
        <div class="">
          <%= link_to "Manage Adventure", adventure_path(adventure), :class => 'btn btn-primary' %>
          <%= link_to 'Play Adventure', '/player/' + adventure.id.to_s, :class => 'btn btn-success' %>
        </div>
  </div>
  <% end %>
</div>
