<h1>Adventure Show Page</h1>


<p><h5>Name: </h5> <%= @adventure.name %> </p>
<p><h5>Body: </h5> <%= @adventure.description %> </p>
<p><h5>ID: </h5> <%= @adventure.id %> </p>
<p><h5>Creator: </h5> <%= @adventure.creator %> </p>


<%= link_to "Edit", edit_adventure_path(@adventure),
  :class => 'btn btn-primary' %>

<%= link_to 'Destroy', adventure_path(@adventure),
  method: :delete,
  data: {confirm: 'Are you sure?'},
  :class => 'btn btn-danger' %>

  <%= link_to 'Manage Scenes', adventure_scenes_path(@adventure),
    :class => 'btn btn-secondary' %>

<%= link_to 'Play Adventure', '/player/' + @adventure.id.to_s %>

<br><br>

<%= link_to "Back to All Adventures", "/adventures",
  :class => 'btn btn-primary' %>
